* {
    font-family: "Orbitron", sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    padding-top: 3rem;
    background-color: #252525;
}

.container h1 {
    color: #de1111;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #333;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;
    color: #de1111;
    min-width: 90px;
}

.separator {
    font-size: 60px;
    padding: 0 10px;
    color: #525763;
}

#milliseconds {
    font-size: 30px;
    color: #de1111;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: red;
    color: #fff;
}